.topBar {
    background-color:#0E1848;
}

.barraIzq {
    background-color:#3367A9;
    height: 100%!important;
}

.conteNedor {
    background-color:#EFD200;
    height: 110%!important;
    padding-top: 10px !important;
}